.clause__image{
    max-height: 460px;
    margin-top: 48px;
}


@media screen and (max-width: 1023px) {
    .clause__image{
        margin-top: 48px;
        margin-bottom: 101px;
    }
}

@media screen and (max-width: 767px) {
    .clause__image{
        margin: 32px auto 0;
    }
}

@media screen and (max-width: 460px) {
    .clause__image{
        margin: 32px 0 0;
        max-width: 288px;
    }
}