.cover{
    max-width: 1184px;
    max-height: 740px;
    margin: 92px auto;
    height: calc(100vw*0.625);
    background-image: url(../../images/cover-trains.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
}

@media screen and (max-width: 1023px) {
    .cover{
        margin: 90px 0;
    }
}

@media screen and (max-width: 767px) {
    .cover{
        margin: 66px 0;
    }
}