.clause__content{
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

@media screen and (max-width: 1279px) {
    .clause__content{
        gap: 32px;
    }    
}

@media screen and (max-width: 1023px) {
    .clause__content{
        gap: 28px;
    }    
}

@media screen and (max-width: 767px) {
    .clause__content{
        flex-direction: column;
        gap: 32px;
    }    
}